* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
  }
  .main-nav {
    width: 60%;
    height: 100px;
    background-color: white;
    margin-left:50em;
    margin-top: 20px;
  }
  
  .main-nav ul {
    list-style-type: none;
    
  }
.main-nav ul li{
float: right;
  width: 280px;
  height: 70px;
  font-size: 60px;
  line-height: 60px;
  z-index: 1;
}
.main-nav li a{
  text-decoration: none;
  color: black;
display: block;

}
.main-nav li a:hover{
  background-color: rgb(219, 209, 209);
  transition: 1s all ease;
  
}
ul li ul li {
  display: none;
  background-color:white;
  position: relative;
  width: 270px;
  height: 170px;
  font-size: 10px;
  line-height: 880px;
}


ul li:hover ul li {
  display: block;
  box-shadow: 0 2px 6px 0;
  height:90px;
  font-size: 30px;
  animation: 1s all ease;
}


  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 19%; float:left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      margin-left: 130px;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    } 
    
.column {
  margin-top: 4em;
  float: left;
  margin-left: 40px;
  width: 30%;
  padding: 10px;
  box-shadow: 4px 9px 7px 9px rgb(170, 165, 165);  
} 
.text2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 30em;
}
.text2 h2 {
  font-size: 40px;
  text-align: center;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 35em;
}
.btn1 {  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  margin-left:38em;
  font-weight: bold;
  font-size: 30px;
  border-color: black;
  color: black;
  background-color: white;
  padding: 14px 40px;
}
.button3:hover {
  background-color:rgb(141, 140, 140);
}

.row1 {
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right;
  margin-right: 60px;
  width: 30%;
  padding: 10px;
  font-size: 40px;
}
.row2 {
  margin-top: 20px;
  float: left;
  margin-left: 30px;
  font-family: sans-serif;
  color: grey;
  width: 30%;
  padding: 10px;
  font-size: 30px;
}
#main-nav1 a {
  margin-right: 60px;
  font-size: 25px;
  color: grey;
  background: white;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background  1s;
}
#main-nav1 a:hover {
  background: rgb(230, 226, 226);
  opacity: 0.3;

  transition-delay: 0.5 s;
}
.photo3 {
  margin-left:10em;
  width: 30px;
  height: 40px;
}

#main-nav1 ul {
  font-size: 40px;
  list-style: none;
  display: flex;
  width: 50%;
  margin-left: 10em;
}
#main-nav1 li {
  font-size: 40px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 12em;
  
}
.text3 h3 {
  text-align: center;
  margin-top:20px;
  margin-right: 3em;
  font-size: 35px;
  color: rgb(100, 97, 97);
}
.mainicon {
  display: flex;
  margin-left:40em;
  margin-top:5px;
  color: gray; 
  font-size: 25px;
}
.photo4 {
  margin-left:61em;
  margin-top:120px;
}
.icon1:hover {
  background-color: rgb(214, 205, 205);
  border-radius: 35%;
}